apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: parapet-ingress-controller
  namespace: parapet-ingress-controller
  labels:
    app: parapet-ingress-controller
rules:
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  - secrets
  - endpoints
  verbs:
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: parapet-ingress-controller
  namespace: parapet-ingress-controller
  labels:
    app: parapet-ingress-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: parapet-ingress-controller
subjects:
- kind: ServiceAccount
  name: parapet-ingress-controller
