apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: parapet-ingress-controller
rules:
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  - secrets
  verbs:
  - list
  - watch
