name: Build
on:
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
    - uses: actions/checkout@v3
    - uses: google-github-actions/auth@v1
      id: auth
      with:
        credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
        token_format: access_token
    - uses: docker/login-action@v2
      with:
        registry: us-docker.pkg.dev
        username: oauth2accesstoken
        password: ${{ steps.auth.outputs.access_token }}
    - uses: docker/login-action@v2
      with:
        registry: ${{ secrets.REGISTRY }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - uses: docker/setup-buildx-action@v2
      with:
        version: latest
        platforms: linux/amd64
    - uses: docker/build-push-action@v4
      with:
        provenance: false
        build-args: |
          VERSION=${{ github.sha }}
          GOAMD64=v3
        push: true
        tags: |
          us-docker.pkg.dev/moonrhythm-containers/gcr.io/parapet-ingress-controller:${{ github.sha }}
          ${{ secrets.REGISTRY }}/parapet-ingress-controller:${{ github.sha }}
    - uses: docker/build-push-action@v4
      with:
        provenance: false
        build-args: |
          VERSION=${{ github.sha }}
          GOAMD64=v1
        push: true
        tags: |
          us-docker.pkg.dev/moonrhythm-containers/gcr.io/parapet-ingress-controller:${{ github.sha }}-amd64v1
          ${{ secrets.REGISTRY }}/parapet-ingress-controller:${{ github.sha }}-amd64v1
