name: Build
on:
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
    - uses: actions/checkout@v3
    - uses: google-github-actions/auth@v1
      id: auth
      with:
        credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
        token_format: access_token
    - uses: docker/login-action@v2
      with:
        registry: gcr.io
        username: oauth2accesstoken
        password: ${{ steps.auth.outputs.access_token }}
    - uses: docker/setup-buildx-action@v2
      with:
        version: v0.10.4
    - uses: docker/build-push-action@v4
      with:
        build-args: |
          VERSION=${{ github.sha }}
          GOAMD64=v3
        push: true
        tags: gcr.io/moonrhythm-containers/parapet-ingress-controller:${{ github.sha }}
    - uses: docker/build-push-action@v4
      with:
        build-args: |
          VERSION=${{ github.sha }}
          GOAMD64=v1
        push: true
        tags: gcr.io/moonrhythm-containers/parapet-ingress-controller:${{ github.sha }}-amd64v1
